{% extends "competition/base.html" %}

{% block title %}Archív{% endblock %}

{% block content %}
<h1>Minulé ročníky</h1>
<table>
    <tr>
        <th>Ročník</th>
        <th>Zadania a riešenia</th>
        <th>Výsledky</th>
        <!-- <th>Štatistiky úloh</th> -->
        <th>Počet riešiteľov</th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game.name }}</td>
        <td>{%if game.publication %}<a href="{{ game.publication.url}}">Zadania a riešenia</a>{% else %}-{% endif %}</td>
        <td>
            {% if game.pdf_results %}
            <a href="{{game.pdf_results.url}}">Výsledky</a>
            {% else %}
            <a href="{% url 'competition:results' pk=game.pk %}">Výsledky</a>
            {% endif %}
        </td>
        <!-- Temporary removed for mas_problem 2023 jesen until the stats are fixed -->
        <!-- <td><a href="{% url 'competition:statistics' pk=game.pk %}">Štatistiky</a></td> -->
        <td>{% if not game.pdf_results %}{{game.number_of_participants}}{% endif %}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}