{% extends "competition/base.html" %}

{% block title %}Zmena profilu{% endblock %}

{% block content %}
<h2>Zmena údajov tímu</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main-button mb-2">Uložiť</button>
</form>

<a href="{% url 'competition:change-password' %}">
    <button class="main-button mt-2">Zmeniť heslo</button></a>

{% if paid %}
<span>Platba prijatá</span>
{% else %}
<span>Platbu za súťaž zatiaľ neevidujeme</span>
{% endif %}
<a href="{% url 'competition:change-password' %}">
    <button class="main-button mt-2">Zmeniť heslo</button></a>
{% endblock %}