{% extends "competition/base.html" %}
{% block header %}
{% load static %}
<script src="{% static 'competition/results.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'competition/results.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}{{game.name}}{% endblock %}

{% block content %}

<div class="dropdown">
  <button class="dropdown__button main-button" onclick="toggle()">
      {{game.name}}
      <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="dropdown-content">
      {% for game in games %}
          <a href="{% url 'competition:game-admin' pk=game.pk %}">{{game.name}}</a>
      {% endfor %}
  </div>
</div>
<h1>{{game.name}}</h1>
{% if game.levels.count == 0 %}

  <form action="{% url 'competition:upload-problems' pk=game.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="source" name="filename">
    <input type="submit">
  </form>

{% else %}
  <a class="main-button" href="{% url 'competition:statistics' pk=game.pk %}">
    Štatistiky
  </a>
{% endif %}

<h2>Export súťažiacich</h2>
<a href="{% url 'competition:export-competitors' pk=game.pk %}">
  <button class="main-button">
    Export súťažiacich
  </button>
</a>
<h2>Nahrávanie diplomov</h2>
<form action="{% url 'competition:game-admin' pk=1 %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="myFile" name="filename">
    {% for id in user_ids %}
        <input hidden type="text" name="competitor_ids" value="{{id}}">
    {% endfor %}
    <input type="submit">
  </form>

Skopíruj nasledujúci text do overleafu, pre výrobu diplomov. Vznikne jedno pdf, ktoré následne nahraj cez nahrávač vyššie.<br>
{% for certificate in certificates %}
{{certificate}}<br>
{% endfor %}

{% endblock %}