{% extends "competition/base.html" %}

{% block title %}{{game.name}}{% endblock %}
{% load competition_tags %}
{% block content %}
<div class="tab">
    {% for level in levels %}
    <button class="tablinks" onclick="openLevel(event, 'level-{{level.order}}')">
        Level {{level.order}} <br>
        ({% number_of_solved level competitor %}/{{level.problems.count}})
    </button>
    {% endfor %}
</div>
{% for level in levels %}
<div id='level-{{level.order}}' class="tabcontent">

    {% for problem in level.problems.all %}
    {{problem.text}}

    <form action="" method="post">
        {% csrf_token %}

        <input type="text" id="answer{{problem.id}}" name="answer" class="main-input">
        <input type="hidden" name="puzzle" value="{{problem.id}}">
        <input type="Submit" value="Odovzdať" class="main-button" />
    </form>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}