{% extends "competition/base.html" %}
{% block header %}
{% load static %}
<script src="{% static 'competition/game.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% load competition_tags %}
{% endblock %}
{% block title %}{{game.name}}{% endblock %}

{% block content %}

<div class="tab">
    <div class="tab__buttons">    
        {% for level in levels %}
            {% level_unlocked level competitor as unlocked %}        
            <button class="tablinks" {% if unlocked %} onclick="openLevel(event, 'level-{{level.order}}')" {% endif %}>
                Úroveň {{level.level_letter}} <br>
                ({% number_of_solved level competitor %}/{{level.problems.count}})
                {% if not unlocked %}
                    <i class="icon-lock"></i>
                {% endif %}
            </button>
        {% endfor %}
    </div>
    <div id="countdown"></div>
</div>
{% for level in levels %}
    {% level_unlocked level competitor as unlocked %}
    {% if unlocked %}
        <div id='level-{{level.order}}' class="tabcontent">

        {% for problem in level.problems_with_submissions %}
            <div class="mt-4">
            {{ problem.text }}

            {% correctly_submitted problem competitor as correctly_submitted %}
            {% if not correctly_submitted %}
                <form action="{% url 'competition:problem' pk=problem.id %}" method="post">
                    {% csrf_token %}

                    <input type="text" id="answer{{problem.id}}" name="answer" class="main-input mb-2">
                    <input type="hidden" name="puzzle" value="{{problem.id}}">
                    <input type="Submit" value="Odovzdať" class="main-button" />
                </form>
            {% endif %}

            {% has_timeout problem competitor as competitor_has_timeout %}
            {% if competitor_has_timeout %}
                {% get_timeout problem competitor as timeout %}
                Ďalšiu odpoveď je možné zadať o {{ timeout|date:'H:i:s' }}
            {% endif %}

            {% for submission in problem.competitor_submissions.all %}
                <div class="answer-alert {% if submission.correct %}success{% endif %}">
                    {{submission.competitor_answer}} - {% if submission.correct %} SPRÁVNE {% else %}
                    NESPRÁVNE {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
<script>
    openLevel(event, 'level-{{show_level.order}}')  // this has to be a part of the html template to use context
    var countdownTime = new Date('{{ endDateTimeString }}').getTime();  // this has to be a part of the html template to use context
    setCountdown();
</script>
{% endblock %}