{% extends "competition/base.html" %}
{% block header %}
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block title %}{{game.name}}{% endblock %}
{% load competition_tags %}
{% block content %}
<div class="tab">
    {% for level in levels %}
    {% level_unlocked level competitor as unlocked %}
    
    <button class="tablinks" {% if unlocked %} onclick="openLevel(event, 'level-{{level.order}}')" {% endif %}>
        Level {{level.order}} <br>
        ({% number_of_solved level competitor %}/{{level.problems.count}})
        {% if not unlocked %}
        <i class="icon-lock"></i>
        {% endif %}
    </button>
    {% endfor %}
</div>
{% for level in levels %}
    {% level_unlocked level competitor as unlocked %}
    {% if unlocked %}
        <div id='level-{{level.order}}' class="tabcontent">

        {% for problem in level.problems.all %}
            <div class="mt-4">
                {{problem.text}}
                {%can_submit problem competitor as can_competitor_submit%}
                {% if can_competitor_submit %}
                <form action="{% url 'competition:problem' pk=problem.id %}" method="post">
                    {% csrf_token %}
                    
                    <input type="text" id="answer{{problem.id}}" name="answer" class="main-input mb-2">
                    <input type="hidden" name="puzzle" value="{{problem.id}}">
                    <input type="Submit" value="Odovzdať" class="main-button" />
                </form>
                {% endif %}
                {% for submission in problem.submission_set.all %}
                    <div class="answer-alert {% if submission.correct %}success{% endif %}">
                        {{submission.competitor_answer}} - {% if submission.correct %} SPRÁVNA ODPOVEĎ {% else %}
                        NESPRÁVNE {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
<script>
    openLevel(event, 'level-{{show_level.order}}')
</script>
{% endblock %}