{% extends "competition/base.html" %}

{% block title %}{{game.name}} - Štatistika{% endblock %}
{% load competition_tags %}
{% block content %}
<h1>{{game.name}} - Štatistiky úloh</h1>
<table>
    <tr>
        <th>Level</th>
        <th>Úloha</th>
        <th>Výsledok</th>
        <th>Počet správnych odpovedí</th>
        <th>Priemerný čas vyriešenia</th>
        <th>Priemerné správne odovzdanie</th>
    </tr>
    {% for problem in problems %}
    <tr>
        <td>{{ problem.level }}</td>
        <td>{{ problem.text }}</td>
        <td>{{problem.solution}}</td>
        <td>{{problem.num_correctly_submitted}}</td>
        <td>{{problem.average_correct_submission|format_timedelta}}</td>
        <td>{{problem.average_time}}</td>

    </tr>
    {% endfor %}
</table>

<h1>{{game.name}} - Štatistiky súťažiacich</h1>
<table>
    <tr>
        <th>Ročník</th>
        <th>Počet vyriešených úloh</th>
        <th>Počet súťažiacich</th>

    </tr>
    {% for grade in grades %}
    <tr>
        <td>{{ grade.grade }}</td>
        <td>{{ grade.correct }}</td>
        <td>{{grade.competitors}}</td>


    </tr>
    {% endfor %}
</table>
{% endblock %}