Ahoj {{competitor}},

tvoja registrácia na súťaž {{game.name}} prebehla úspešne. V prílohe ti posielame faktúru pre uhradenie účastníckeho poplatku.

Poplatok za účasť na súťaži je vo výške {{game.price}}€. Tento poplatok je potrebné uhradiť na účet združenia STROM - SK59 0900 0000 0004 4262 6916.
Najjednoduchšie je zaplatiť pomocou naskenovania QR kódu na faktúre. Druhá možnosť je zadať prevod na účet ručne. V tomto prípade do poznámky pre príjemcu je potrebné uviesť "Mas problem - {{competitor}}". Ako variabilný symbol je potrebné uviesť číslo faktúry (vpravo hore).

S pozdravom,

organizátori súťaže Máš problém?!